/* You can add global styles to this file, and also import other style files */
.astrik{
    color: red;
    font-size: 15px;
    padding: 2px;

}
.ineerBody {
    background-color: #e9ecef;
    padding-top: 20px;
    padding-left: 250px;
}
.dataTables_empty {
  display: none;
}